---
import HeroImg from "@assets/images/aboutHero.svg?url";
---
<section class="hero">
<div class="hero_inner">
    <img src={HeroImg} alt="">
    <div class="h1_box">
        <p class="eyebrow">About</p>
        <h1>Creative Services For Boost Your Business Growth</h1>
    </div>
</div>

</section>

<style>

    .hero_inner{
        position: relative;
    }

    .h1_box{
        background-color: var(--color-secondary-01);
        opacity: 92%;
        border: 1px solid lightgray;
        border-radius: 28px;
        padding: 3rem;
        position: absolute;
        bottom: 28%;
        left: 20%;
        max-width: 71ch;

    }

    .eyebrow{
        display: inline-block;          /* shrink-wraps to text width */
  background: var(--color-primary-01);
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: .75rem;
  padding: 0.4em 0.9em;           /* use em for scalable spacing */
  border-radius: 99px;

    }

    h1{
        font-size: var(--fs-h4);
        font-weight: 600;
    }


</style>