---
import FaqData from "@data/faq.json";
---

<section class="faq">
  <div class="faq_inner">
    <div class="heading">
      <p class="eyebrow">FAQ</p>
      <h2>Customer Questions</h2>
    </div>

    <div class="accordion" data-accordion>
  {FaqData.faq.map((q) => (
    <details class="item">
      <summary>{q.question}</summary>
      <p class="answer">{q.answer}</p>
    </details>
  ))}
</div>
  </div>
</section>

<style>
.faq {
  padding: 3rem 0;
  color: var(--color-text);
}
.faq .faq_inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 9rem;
  background: var(--color-secondary-01);
  border-radius: 18px;
}

.faq .heading {
  text-align: center;
  padding: 2rem 1rem 1.25rem;
}
.faq .eyebrow {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-size: .75rem;
}
.faq h2 { 
    font-size: var(--fs-h4);
    font-weight: 500;
    margin-bottom: 2rem;
}


.faq .accordion {
  padding: 0 1rem 1rem;
  display: grid;
  gap: .25rem;
}

.faq .item {
  padding: .25rem .75rem;
}

.faq .item > summary {
  cursor: pointer;
  list-style: none;
  padding: .9rem .25rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.faq .item > summary::-webkit-details-marker { 
    display: none; 
}


.faq .item > summary::after {
  content: "+";
  color: var(--color-text);
  font-size: x-large;
  font-weight: 700;

}
.faq .item[open] > summary::after {
  content: "-";
  font-size: xx-large;
}

/* answer */
.faq .answer {
  margin: .25rem 0 .9rem;
  color: var(--color-text-muted);
  line-height: 1.6;
  padding-right: 2rem; 
}


.faq .item:not(:last-child) { 
    border-bottom: 1px solid #2c2b2b;
}

/* responsive */
@media (max-width: 640px){
  .faq .faq_inner { border-radius: 14px; }
  .faq .heading { padding: 1.5rem 1rem 1rem; }
}

</style>